/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style */
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
body , html {
    overflow-x: hidden;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center
}
.container{
    width: 1321px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 646px;
    border-radius: 30px;
    padding-top: 25px;
    background: #161616;
}
.banner-title{
    padding-left: 106px;
}
h1{
    color: white;
    font-size: 70px;
    line-height: 80px;
    margin-top: 111px;
    margin-bottom: 0px;
}
p{
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn{
    text-decoration: none;
    color: white;
    padding: 16px 25px;
    font-size: 20px;
    background: #DD0000;
    border-radius: 5px;
}
.fa-angle-right{
    color: #FFFFFF;
    padding-left: 10px;
}
.banner-image img{
    width: 581px;
    height: 613px;
    margin: 33px;
}

/* Blog Section Design CSS */
.blog-section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.card{
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.card img {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    width: 80px;
    height: 60px;
    padding-top: 40px;
    padding-left: 30px;
}
span{
    padding-left: 25px;
    font-size: 25px;
}
.blog-content{
    margin: 10px;
}
.blog-content p{
    color: #4D4D4D;
    text-align: center;
}
.blog-content h3{
    text-align: center;
}
.blog-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}
#six{
    visibility: hidden;
}
#one{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 312px;
    height: 312px;
    background-color: #161616;
    
}
.blog-button1{
    width: 252px;
    height: 64px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    background: #DD0000;
    color: #ffffff;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}
.blog-button2{
    width: 252px;
    height: 64px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    background: #fcfcfc;
    color: #000000;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}
.view a{
    justify-content: center;
    justify-items: center;
    align-items: center;
    visibility: hidden;
}
.footer{
    width: 1600px;
    height: 444px;
    background: #161616;
}
.ftitle{
    text-align: center;
}
h2{
    color: white;
    font-size: 40px;
    line-height: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
}
hr{
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}

.footer .social{
    text-align: center;
    margin-top: 25px;
}
.footer .social a{
    font-size: 24px;
    color: aqua;
    border: 1px solid aqua;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a{
    color: #B9B9B9;
    text-decoration: none;
}
/* For Tablet */
@media screen and (max-width:834px) {
    .container{
        width: 734px;
        
    }
    .banner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 398px;
        border-radius: 30px;
        padding-top: 25px;
        background: #161616;
    }
    .banner-title{
        padding-left: 76px;
    }
    h1{
        color: white;
        font-size: 40px;
        line-height: 50px;
        margin-top: 61px;
        margin-bottom: 0px;
    }
    p{
        color: white;
        font-size: 14px;
        line-height: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .banner-image img{
        width: 323px;
        height: 365px;
    }
    /* Second Section */
    .blog-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    #two{
        visibility: hidden;
    }
    #five, #nine{
        visibility: visible;
    }
    #nine, #ten, #eleven, #twelve{
        display: none;
    }
    .view a{
        visibility: visible;
    }
    .footer{
        width: 834px;
        height: 345px;
    }
    .footer{
        width: 1600px;
        height: 444px;
        background: #161616;
    }
    .ftitle{
        text-align: center;
    }
    h2{
        margin-top: 60px;
        margin-bottom: 30px;
    }
    hr{
        width: 734px;
        margin-bottom: 30px;
    }
    
}
/* For Mobile */
@media screen and (max-width:376px) {
    .container{
        width: 334px;
    }
    .banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 430px;

    }
    .banner-title{
        padding-left: 0px;
        
    }
    h1{
        color: white;
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: center;
        margin: 0px 60px;
    }
    p{
        color: white;
        font-size: 13px;
        line-height: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        margin: 10px 5px;
    }
    .banner-image img{
        width: 233px;
        height: 245px;
        padding-left: 22px;
    }
    .btn{
        text-decoration: none;
        color: white;
        padding: 8px 12px;
        font-size: 14px;
        background: #DD0000;
        border-radius: 5px;
        align-items: center;
        margin-left: 105px;
    }
    /* Second Section */
    .blog-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    #one{
        background: #ffffff;
        border: none;
    }
    .blog-button1{
        border: 1px solid gray;
    }
    #two{
        visibility: visible;
    }
    #five{
        visibility: visible;
    }
    #eight, #nine, #ten, #eleven, #twelve{
        display: none;
    }
    .view a{
        visibility: hidden;
    }
    .footer{
        width: 834px;
        height: 645px;
    }
    
    .footer ul li{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 15px;
    }
    .ftitle{
        text-align: center;
    }
    h2{
        margin-top: 60px;
        margin-bottom: 30px;
    }
    hr{
        width: 300px;
        margin-bottom: 30px;
    }
}